apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: {{ argocd_namespace }}
data:
  application.instanceLabelKey: app.kubernetes.io/instance
  timeout.reconciliation: "180s"
  timeout.hard.reconciliation: "300s"
  resource.customizations.health.argoproj.io/Rollout: |
    hs = {}
    hs.status = "Healthy"
    hs.message = rollout.status
    return hs
{% if argocd_sso_mode == 'oidc' %}
  oidc.config: |
    name: GitHub
    issuer: https://github.com/login/oauth
    clientID: {{ github_oauth_client_id }}
    clientSecret: $argocd-secret:github.clientSecret
    requestedScopes:
      - openid
      - profile
      - email
      - read:org
{% elif argocd_sso_mode == 'dex' %}
  url: https://argocd.{{ domain_base }}
  dex.config: |
    connectors:
      - type: github
        id: github
        name: GitHub
        config:
          clientID: {{ github_oauth_client_id }}
          clientSecret: {{ github_oauth_client_secret }}
          orgs:
            - name: gurko
{% endif %}
